<footer>
    <footer class="mt-28 ">


        <p class="text-xs -mb-4  text-black dark:text-white">Copyright &copy; All rights reserved. Wass-Ouss Corp.</p>
        <ul class="flex justify-center nav_footer">


            <li class="li"><a href="https://fr-fr.facebook.com/"><i class="fab fa-facebook-f text-2xl jump"></i></a>
            </li>
            <li class="li"><a href="https://twitter.com/?lang=fr"><i class="fab fa-twitter text-2xl jump"></i></a></li>
            <li class="li"><a href="https://github.com/shini559"><i class="fab fa-github text-2xl jump"></i></a></li>


        </ul>

    </footer>
</footer>