<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <%- include('./partials/header.ejs') %>

                <h1 class="uppercase front text-center"> error 404 - OOPS</h1>
                <h2 class="uppercase front italic text-center"> Your page does not exist</h2>
                <%- include('./partials/footer.ejs') %>
    </body>

</html>