<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body class="darkBody">

        <%- include('./partials/nav.ejs') %>
            <%- include('./partials/header.ejs') %>

                <div class="px-5 darkMode">
                    <h2 class="font-bold">About Us</h2><br>
                    <p>Étudiant en pré Msc à épitech Lille nous avons créé ce site du job board suite à un projet. <br>
                        Ce site devrait permettre d'afficher les différentes annonces, pour le coter admin de créer,
                        supprimer, de lire et de mettre à jour les annonce. <br>
                        Pour le coter user, il devrait pouvoir voir et postuler aux annonces.
                    </p>
                </div>
                <%- include('./partials/footer.ejs') %>
    </body>

</html>